#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main-image img {
  width: 400px;       /* adjust as needed */
  height: auto;
  display: block;
  margin-bottom: 20px;
}

.thumbnails {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.thumbnails .thumbnail {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.thumbnails .thumbnail img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 2px solid transparent;
  transition: border 0.2s;
}

.thumbnails .thumbnail img:hover {
  border: 2px solid #007bff;
}
